DISCORD_TOKEN=token
GOOGLE_CLIENT_ID=client id
GOOGLE_CLIENT_SECRET=client secret
GOOGLE_CLIENT_TOKEN_FILE=token.json
OAUTH_HTTP_PORT=12345
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
EMAIL_ADDRESS=email address
EMAIL_FOLDER=INBOX
EMAIL_REFRESH_RATE=60
DISCORD_CHANNEL_ID=discord channel id